<div class="col-lg-10 offset-lg-1 my-5">
    <div class="row">
        <div class="col-12">
            <h3>Mi carrito</h3>
        </div>
    </div>
    <hr>
    <ng-container *ngIf="cartItems && cartItems.length > 0">
        <app-shopping-cart-item 
            *ngFor="let cartItem of cartItems" 
            [item]="cartItem" 
            (onRemove)="removeItem(cartItem)"
            (onAddAnother)="addAnotherItem(cartItem)">
        </app-shopping-cart-item>
        <div class="row mt-2 mb-4">
            <div class="col text-center text-md-right">
                <p>Cantidad de productos: {{cartItems.length}}</p>
                <h4 class="mb-0">Total: <span class="ml-3">{{totalPrice | currency}}</span></h4>
                <p>(no incluye envío)</p>
            </div>
        </div>
        <div class="row my-4">
            <div class="col text-center text-md-right">
                <button class="btn primary-color btn-lg" (click)="saveOrder()">Continuar compra</button>
            </div>
        </div>
    </ng-container>
    <div class="text-center my-5" *ngIf="!cartItems || cartItems.length == 0">
        <br><br><br><br>
        <h4>Tu carrito está vacío</h4>
        <h6>¡Agregá los productos que productos te gusten para realizar tu compra!</h6>
        <br><br><br><br>
    </div>
</div>
