<!-- getted from https://mdbootstrap.com/docs/b4/jquery/navigation/footer/ -->
<!-- Footer -->
<footer class="page-footer font-small pt-4 bg-light">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">

            <!-- Grid column -->
            <div class="col-md-5 col-lg-5 col-xl-5 mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Medios de pago</h6>
                <p class>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <br>
                <h6 class="text-uppercase mb-4 font-weight-bold">Métodos de envío</h6>
                <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet.</p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 col-xl-4 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
                <p>
                    <i class="fas fa-map-marker-alt mr-3"></i> Ranelagh, Buenos Aires
                </p>
                <p>
                    <i class="fas fa-envelope mr-3"></i> florbarraufotografia@gmail.com
                </p>
                <p>
                    <i class="fas fa-phone mr-3"></i> + 54 11 3316 3627
                </p>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Footer links -->

        <hr>

        <!-- Grid row -->
        <div class="row d-flex align-items-center">

            <!-- Grid column -->
            <div class="col-md-7 col-lg-8">

                <!--Copyright-->
                <p class="text-center text-md-left">© 2021 Copyright:
                    <a href="https://mdbootstrap.com/">
                        <strong> Flor Barrau Fotografía</strong>
                    </a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0">

                <!-- Social buttons -->
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

</footer>
<!-- Footer -->